ion-select {
  --color: #333 !important;
  --placeholder-color: #666 !important;
  --highlight-color: #001b87;
}

/* 🔥 ESTA ES LA CLAVE REAL */
ion-select::part(text) {
  color: #333 !important;
}

/* icono */
ion-select::part(icon) {
  color: #666 !important;
}
ion-label {
  color: #666 !important;
}
ion-item {
  --background: #ffffff;
  --color: #333 !important;
  --highlight-color-focused: #001b87;
}