.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  margin: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.titulo {
  text-align: center;
  color: rgb(43, 42, 42);
}

.subtitulo {
  text-align: center;
  color: #7e7d7d; // gris claro
  margin-bottom: 20px;
}

.custom-item {
  margin-bottom: 20px; // más separación entre campos
}
ion-item.custom-item {
  --background: #ffffff;
  --color: #000;
  --border-color: #ccc;
}

ion-item.custom-item ion-label {
  --color: #007bff;
}

ion-item.custom-item ion-input {
  --color: #000;
  --placeholder-color: #888;
}

// ion-label {
//   color: #007bff !important; // azul para el texto del label
// }
// ion-input {
//   color: #38393a !important; // azul para el texto del input
// }
// ion-item.custom-item {
//   ion-icon {
//     font-size: 20px;
//     color: #007bff; // azul
//     cursor: pointer;
//   }
// }
.divider-gradient {
  height: 1px; /* más elegante que 1px */
  width: 100%;
  margin: 10px 0;
  background: linear-gradient(to right, transparent, #ccc, transparent);
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}
.boton{
  color: #fafbfc !important;
}

ion-content {
  --background: #f4f5f8; /* gris claro limpio */
}


