<div class="login-card">

  <div class="login-header">

    <h2>Bienvenido</h2>

    <p>
      Ingresa a tu cuenta para continuar
    </p>

  </div>

  <ion-text color="danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </ion-text>

  <form (ngSubmit)="login()">

    <!-- EMAIL -->
    <div class="input-group">

      <ion-icon
        name="mail-outline">
      </ion-icon>

      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Correo electrónico"
        required
      />

    </div>

    <!-- PASSWORD -->
    <div class="input-group">

      <ion-icon
        name="lock-closed-outline">
      </ion-icon>

      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required
      />

      <ion-icon
        class="eye-icon"
        [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
        (click)="togglePasswordVisibility()"
      >
      </ion-icon>

    </div>

    <!-- BUTTON -->
    <button
      class="login-btn"
      type="submit"
      [disabled]="loading"
    >

      <ion-spinner
        *ngIf="loading"
        name="crescent">
      </ion-spinner>

      <span *ngIf="!loading">
        Iniciar sesión
      </span>

    </button>

  </form>

</div>