.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  background: #fff;
  border-radius: 12px;
}

.formulario {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-item {
  --background: transparent;
  margin-bottom: 12px;
  border-radius: 8px;
}

ion-button {
  margin-top: 10px;
}

.no-data {
  text-align: center;
  color: #888;
  margin-top: 1rem;
}

/*  Tabla estilo Excel */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #cbd5e1; /* gris claro */
  text-align: center;
}

th {
  background-color: #0d8fe6;
  color: white;
}
h3.text-center {
  text-align: center !important;
  width: 100%;
  display: block;
}

.divider-gradient {
  height: 1px; /* más elegante que 1px */
  width: 100%;
  margin: 20px 0;
  background: linear-gradient(to right, transparent, #092ae4, transparent);
}
tr:nth-child(even) {
  background-color: #f9fafb;
}

tr:hover {
  background-color: #e6f0ff; /* azul claro hover */
}
.espaciador {
  height: 100px;
  background-color: white; /* espacio en blanco */
}
.container {
  max-width: 900px;
}

ion-item {
  --highlight-color-focused: #001b87;
}

ion-button {
  --background: #001b87;
  --background-activated: #0029b5;
}
