<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-toolbar color="primary">
    <ion-segment [(ngModel)]="activeSegment" (ionChange)="segmentChanged($event)" scrollable>
      <ion-segment-button value="home">Home</ion-segment-button>
      <ion-segment-button value="administrador">Administrador</ion-segment-button>
      <ion-segment-button value="inventarioadmin">Inventario Admin</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <div class="center-content">
    <!-- Aquí se carga el formulario de ingreso usuario -->
    <app-ingreso-usuario></app-ingreso-usuario>
  </div>
  <div class="center-content">
    <!-- Aquí se carga el componente de movimientos -->
  
  </div>
</ion-content>
