.center-content {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: flex-start; /* alinea al inicio verticalmente */
  padding: 40px 20px 20px 20px; /* padding superior para separar del menú, inferior para espacio */
  box-sizing: border-box;
  min-height: calc(100vh - 120px); /* asegura que el contenido no se pegue al footer, opcional */
  gap: 20px; /* espacio entre componentes si hay más de uno */
}

app-ingreso-usuario {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 30px 20px;
  background-color: #fff;
  box-sizing: border-box;
}
app-unidad-clinica {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 30px 20px;
  background-color: #fff;
  box-sizing: border-box;
}