.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background: #fff;
  
  border-radius: 12px;
}

// .formulario,
// .lista {
//   background: #fff;
//   padding: 1.5rem;
//   border-radius: 12px;
// }

.col-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--ion-color-primary);
  margin-bottom: 1rem;
}

ion-item {
  --background: transparent;
  margin-bottom: 12px;
  border-radius: 8px;
}

ion-button {
  margin-top: 12px;
}

ion-icon {
  cursor: pointer;
}

.no-data {
  text-align: center;
  color: #888;
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .formulario,
  .lista {
    width: 48%;
  }
}
