<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <!-- BOTÓN HAMBURGUESA SOLO EN MÓVIL -->
    <ion-buttons slot="start" class="mobile-only">
      <ion-button (click)="sidebarOpen = !sidebarOpen">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Informaciones</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon  name="log-out-outline" slot="start"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- MENÚ LATERAL -->
<aside class="sidebar" [class.open]="sidebarOpen">
      <h2>Condominio<br />Los Alerces</h2>

      <ul class="menu">
        <!-- analytics dashboard -->
        <li>
        <button (click)="mostrarSeccion('analytics')" class="menu-item">
          Dashboard Analítico
        </button>
        </li>


        <!-- OTRAS OPCIONES -->
        <li><button (click)="irA('gestion-locatarios')" class="menu-item">Gestion Locatarios</button></li>
        <li><button (click)="irA('registro-personal')" class="menu-item">Registro Personal</button></li>
        <li><button (click)="irA('observaciones')" class="menu-item">Observaciones</button></li>
        <li><button (click)="irA('registros')" class="menu-item">Registros</button></li>
      </ul>
    </aside>

    <!-- CONTENIDO PRINCIPAL -->
    <section class="contenido">
      <ng-container [ngSwitch]="seccionActiva">

        <!-- analytics   -->
        
        <div *ngSwitchCase="'analytics'">
          <app-analytics-dashboard></app-analytics-dashboard>
         
        </div>

       

        <!-- DEFAULT -->
        <div *ngSwitchDefault>
          <p class="text-center text-gray-600 mt-10">
            Seleccione una opción del menú para comenzar.
          </p>
        </div>

      </ng-container>
    </section>
  </div>
</ion-content>
