.tabla-visitas {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.tabla-visitas td,
.tabla-visitas th {
  border: 1px solid #cbd5e1;
  padding: 8px;
  color: #333;
}

.tabla-visitas thead {
  background-color: #001b87;
}

.tabla-visitas thead th {
  color: #fff;
}
ion-content {
  --color: #333;
}