<ion-header [translucent]="true">
  <ion-toolbar color="primary">
        <!-- BOTÓN HAMBURGUESA SOLO EN MÓVIL -->
    <ion-buttons slot="start" class="mobile-only">
      <ion-button (click)="sidebarOpen = !sidebarOpen">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registros</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- MENÚ LATERAL -->
<aside class="sidebar" [class.open]="sidebarOpen">
      <h2>Condominio<br />Los Alerces</h2>

      <ul class="menu">

   <!-- registrar visitas -->
        <li>
          <button (click)="toggleMenu('registrarVisitas')" class="menu-item">
            Registrar Visitas
          </button>
          <ul *ngIf="openMenu === 'registrarVisitas'" class="submenu">
            <li (click)="mostrarSeccion('registrarVisitas')">
              Agregar
              <ion-icon name="add-circle-outline" class="icon-right"></ion-icon>
            </li>

            <li (click)="mostrarSeccion('listarVisitas')">
              Listar Visitas
            </li>
          </ul>
        </li>

        <!-- registrar turnos -->
        <li>
          <button (click)="toggleMenu('registrarTurnos')" class="menu-item">
            Registrar Turnos
          </button>

          <ul *ngIf="openMenu === 'registrarTurnos'" class="submenu">
            <li (click)="mostrarSeccion('registrarTurnos')">
              Agregar
              <ion-icon name="add-circle-outline" class="icon-right"></ion-icon>
            </li>

            <li (click)="mostrarSeccion('listarTurnos')">
              Listar Turnos
            </li>
          </ul>
        </li>
         <!-- registrar rondas -->
        <li>
          <button (click)="toggleMenu('registrarRondas')" class="menu-item">
            Registrar Rondas
          </button>

          <ul *ngIf="openMenu === 'registrarRondas'" class="submenu">
            <li (click)="mostrarSeccion('registrarRondas')">
              Agregar
              <ion-icon name="add-circle-outline" class="icon-right"></ion-icon>
            </li>

            <li (click)="mostrarSeccion('listarRondas')">
              Listar Rondas
            </li>
          </ul>
        </li>

      </ul>
        
    </aside>

    <!-- CONTENIDO PRINCIPAL -->
    <section class="contenido">
      <ng-container [ngSwitch]="seccionActiva">

         <!--  VISITAS -->
        <div *ngSwitchCase="'registrarVisitas'">
          <app-registro-visitas></app-registro-visitas>
          <app-lector-qr></app-lector-qr>
          
        </div>

        <div *ngSwitchCase="'listarVisitas'">
          <app-lista-visitas></app-lista-visitas>
          
        </div>

        <!-- turnos-->
        <div *ngSwitchCase="'registrarTurnos'">
          <app-turnos-guardias></app-turnos-guardias>
          
        </div>

        <div *ngSwitchCase="'listarTurnos'">
          <app-lista-turnos></app-lista-turnos>
        </div>
        
         <!-- rondas-->
        <div *ngSwitchCase="'registrarRondas'">
          <app-rondas-guardia></app-rondas-guardia>
        </div>

        <div *ngSwitchCase="'listarRondas'">
          <app-lista-rondas></app-lista-rondas>
        </div>
       
        

        <!-- 🔸 DEFAULT -->
        <div *ngSwitchDefault>
          <p class="text-center text-gray-600 mt-10">
            Seleccione una opción del menú para comenzar.
          </p>
        </div>

      </ng-container>
    </section>
  </div>
</ion-content>

