ion-content.dashboard {
  --background: #f4f6f9;
  display: block;
  overflow-y: auto; /* 🔹 permite ver todo sin recorte */
  min-height: 100vh;

  ::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

/* Compactar los calendarios */
.datetime-compact {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  background: #fff;
  min-height: 2.5rem !important;
  height: auto !important;
  padding: 0.25rem;
  font-size: 0.9rem;
  --height: auto;
}

/* Inputs */
.input-wide {
  width: 100%;
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  min-height: 3rem;
  font-size: 0.9rem;
  padding: 0.25rem;
}

/* Botones */
ion-button[color='primary'] {
  --background: #001b87;
  --border-radius: 8px;
}
.espaciador {
  height: 200px;
  background-color: white; /* espacio en blanco */
}