<div class="grid">
  <section class="col form-col">
    <h2>Registrar Visita</h2>

    <form [formGroup]="form" (ngSubmit)="guardar()">
      <ion-item fill="outline">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-label position="floating">RUT</ion-label>
        <ion-input formControlName="rut"></ion-input>
      </ion-item>

      <div class="buttons">
        <ion-button expand="block" color="primary" (click)="generarQR()">
          CREAR CÓDIGO QR
          <ion-icon slot="end" name="qr-code-outline"></ion-icon>
        </ion-button>

        <ion-button type="submit" expand="block" color="primary">
          INGRESAR
          <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        </ion-button>
      </div>

      <div class="qr-preview" *ngIf="qrGenerado()">
        <img [src]="qrGenerado()" alt="QR Generado" />
      </div>
    </form>
  </section>

  <aside class="col side-col">
    <h3>Última visita registrada</h3>
    <ion-card *ngIf="ultimaVisita(); else vacio">
      <ion-card-content>
        <p><strong>Nombre:</strong> {{ ultimaVisita()?.nombre }}</p>
        <p><strong>RUT:</strong> {{ ultimaVisita()?.rut }}</p>
        <p><strong>Fecha:</strong> {{ ultimaVisita()?.fecha_autorizacion | date:'short' }}</p>
        <div class="qr-mini">
          <img [src]="ultimaVisita()?.codigo_qr" alt="QR" />
        </div>
      </ion-card-content>
      <ion-buttons class="actions">
        <ion-button color="medium">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="eliminar(ultimaVisita()?.id!)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card>
<div class="qr-preview" *ngIf="qrGenerado()">
  <img [src]="qrGenerado()" alt="QR Generado" />
  <ion-button color="medium" expand="block" (click)="descargarQR()">
    Descargar QR
    <ion-icon slot="end" name="download-outline"></ion-icon>
  </ion-button>
</div>
    <ng-template #vacio>
      <p class="muted">Aún no hay registros.</p>
    </ng-template>
  </aside>
</div>
